.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: calc(100vh - 150px);
  background: white;
}

.box {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 700px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 900px;
  height: 700px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 4s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 900px;
  height: 700px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.image {
  position: absolute;
  inset: 8px;
  width: 880px;
  height: 630px;
  border-radius: 8px;
  left: 10px;
  top: 60px;
  z-index: 10;
}
.error__text {
  color: #ffffff;
  position: absolute;
  inset: 8px;
  border-radius: 8px;
  background: #28292d;
  z-index: 10;
  padding: 20px 40px;
  display: flex;
  font-size: 20px;
  padding: auto;
  margin: auto;
}
